@charset "utf-8";
/* CSS Document */
body {
background: url("../images/site-background-image.jpg") repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

td, a {
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 1000px;
	background:#ccccff;
}
#header {
	margin: 0 0 0 0;
	padding: 10px 10px 10px 10px;
	background:#3d1f5b;
}
#header a {
 color:#FFFFFF;
}
#side-a {
	float: left;
	width: 220px;
	padding: 10px 10px 10px 10px;
	color:#FFFFFF;
	background:#663399;
}
#side-a p {
 margin-bottom:10px; 
 margin-top:0px;
}
#side-a a {
font-size:12px;
color:#FFFFFF;
}
#side-a hr {
color: 663399;
border-bottom: 1px solid #9966cc;
}
#side-a td {
color:#FFFFFF;
}

#side-b {
	float: right;
	padding: 10px 10px 10px 10px;
	width: 200px;
	color:#FFFFFF;
	background:#333333;
}

#side-b a {
color:#FFFFFF;
}
#side-b ul {
margin-left:5px;
padding-left:5px;
}
#content { 
	float: left;
	width: 510px;
	padding: 10px 10px 10px 10px;
}
#footer {
	clear: both;
	padding: 10px 10px 10px 10px;
	color:#FFFFFF;
	background:#3d1f5b;
}
#footer a {
color:#FFFFFF;
}

